<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tab切换</title>
    <link rel="stylesheet" href="../public/css/demo2.css">
</head>
<body>
    <div id="app">
        <my-component :cur="cur" :infos="infos"></my-component>
        <my-component :cur="cur1" :infos="infos1"></my-component>
    </div>

    <template id="myComponent">
        <ul class="tab">
            <li v-for="info in infos" :class="{'selected': cur==$index}" @click="changeTab($index)">{{info.name}}</li>
        </ul>
        <div class="tab-cont">
            <div v-for="info in infos" v-show="cur==$index">{{info.content}}</div>
        </div>
    </template>

    <script src="../public/js/vue.js"></script>
    <script>
        // 定义
        var MyComponent = Vue.extend({
            template: '#myComponent',
            props: ['cur', 'infos'],
            methods: {
                changeTab: function (index) {
                    this.cur = index;
                }
            }
        });

        // 注册
        Vue.component('my-component', MyComponent);

        var vueObj = new Vue({
            el: '#app',
            data: {
                infos: [
                    {
                        name: 'tab1',
                        content: '内容1'
                    },
                    {
                        name: 'tab2',
                        content: '内容2'
                    },
                    {
                        name: 'tab3',
                        content: '内容3'
                    }
                ],
                cur: 0,
                infos1: [
                    {
                        name: 'tab11',
                        content: '内容1'
                    },
                    {
                        name: 'tab21',
                        content: '内容2'
                    },
                    {
                        name: 'tab31',
                        content: '内容3'
                    }
                ],
                cur1: 0
            }
        });


    </script>
</body>
</html>