@import "reset.css";

#app {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.clearfix:after {
    content: " ";
    display: table;
    height: 0;
    visibility: hidden;
    font-size: 0;
    clear: both;
}

.ranges {
    padding: 10px;
    border: 1px solid #ccc;
}

.input,.preview {
    float: left;
}

.input .txt {
    float: left;
    width: 93px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.unit-txt {
    margin-left: -20px;
    font: normal 14px/1.5 'Microsoft yahei';
}

.input .set-hd span,.prev-tit strong,.prev-cont span {
    float: left;
    width: 125px;
    margin-right: 10px;
    font: normal 14px/1.5 'Microsoft yahei';
}

.set-hd {
    margin: 10px 10px 10px 0;
}
.prev-tit {
    padding: 10px 10px 9px 0;
    border-bottom: 1px solid #000;
}
.prev-cont {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.preview {
    float: left;
}

.add-price-btn span {
    font: normal 14px/1.5 'Microsoft yahei';
    cursor: pointer;
}